torch>=2.0.0
transformers==4.37.2
datasets==2.18.0
librosa
soundfile
jiwer
numpy>=1.21.0
pyarrow
scikit-learn
evaluate
sentence-transformers
phonemizer
g2p_en
nltk
wandb
accelerate==0.26.1
jax
jaxlib
git-lfs
